
*{
	margin: 0;
	padding: 0;
}

body,html{
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}
.nav{
	position:fixed;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 10%;
	background: rgba(0, 0, 0, 0.7);
}

.logo{
	font-family: 'Times New Roman', Times, serif;
	letter-spacing: 2px;
	float: left;
	color: white;
	font-size: 50px;
	line-height: 80px;
	padding: 0 80px;
}

.menu{
	float: right;
	line-height: 80px;
	margin: 0;
}

.menu ul{
	list-style: none;
}

.menu ul li{
	display: inline-block;
}

.menu ul li a {
	text-decoration: none;
	color: #000;
	font-weight: lighter;
	padding: 0 20px;
}




.bgpg1{
	background-image: url("IMG/praia.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	margin-top: 100px;
	margin-left: 100px

}
.bgpg2{
	background-image: url("IMG/pg2.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	margin-top: 100px;
	margin-left: 100px

}

.bgpg3{
	background-image: url("IMG/pg3.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	margin-top: 100px;
	margin-left: 100px

}
.bgpg4{
	background-image: url("IMG/pg4.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	margin-top: 100px;
	margin-left: 100px

}



body:before {
	content: '';
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	-webkit-background-size: cover;
	background-size: cover;
	-webkit-filter: blur(10px);
	-moz-filter: blur(10px);
	filter: blur(10px);
}
.contact-form {
	position: absolute;
	top: 50%;
	left: 20%;
	transform: translate(-50%, -50%);
	width: 300px;
	height: 300px;
	padding: 80px 40px;
	background: rgba(0, 0, 0, 0.7);
}

.contact-form h2 {
	margin: 0;
	padding: 0 0 20px;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
}
.contact-form p {
	margin: 0;
	padding: 0;
	font-weight: bold;
	color: #fff;
}
.contact-form input {
	width: 100%;
	margin-bottom: 20px;
}
.contact-form input[type=email], .contact-form input[type=password] {
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}
.contact-form input[type=submit] {
	height: 30px;
	color: black;
	font-size: 15px;
	background: white;
	cursor: pointer;
	border-radius: 25px;
	border: none;
	outline: none;
	margin-top: 30%;
}
.contact-form a {
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
}
input[type=checkbox] {
	width: 20%;
}


.botao{
	background-color: white;
	font-family: sans-serif;
	width: 75px;
	height: 25px;
	border: 0px;
	cursor: pointer;
}






